<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <div class="container">
        
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <img src="{{ url_for('static',    filename='img/logo.png') }}" style="align-self: center"></img>
          </div>
          </div> 
        
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" style="text-align: justify;">
            <h3></br> Bem vindo(a)! </h3>
            <p style="font-weight:200"> Este é o aplicativo de migração de dados da plataforma <a href="http://stesa.ch.inventsys.com.br" target="_blank">Inventsys</a> para o visualizador do <a href="http://www.infoambiente.stesa.com.br/egr" target="_blank">Infoambiente</a>.</br></br>Informe suas credenciais em cada um dos passos para migrar automaticamente o conjunto de dados de qualquer categoria de ativo do Inventsys para o Núcleo correspondente do Infoambiente. Não se esqueça de ter em mãos as credenciais para os dois sistemas, mas também para as bases PostgreSQL e Geoserver.</p>

            <a href="{{ url_for('validateinventsys') }}">
              <div class="btn btn-block btn-raised btn-active">
              Começar
              </div>
            </a>
          </div>  
          </div>
        </div>
    
    {% endblock %}
  </body>
</html>