<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Inventsys</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/login.css') }}">


    

  </head>
  <body>
    {% extends "template.html" %}


    {% block content %}

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <img src="{{ url_for('static',    filename='img/Etapas-04.png') }}" style="align-self: center; max-width:100%; max-height:100%; height:auto"></img>
          </div>
        </div> 
        

        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
            <img src="{{ url_for('static',    filename='img/inventsys.png') }}" style="align-self: center; max-width:100%; max-height:100%; height:auto"></img>
          </div>
        </div> 
        
        
    </div>
   


        <div class="row" style="background-color: #FBA919">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="content-section">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-2" style="font-weight:200; text-align:center;font-size:1.2rem;"></br>Entre com suas credenciais Inventsys</legend>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-check" style="font-weight:200; text-align:center;">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                        </fieldset>
                        <div class="form-group-block">
                            {{ form.submit(class="btn-block btn-raised btn-active") }}
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>


   
      
    {% endblock content %}
  </body>
</html>